html {
  font-size: 10px;
  background: url(image/wick.jpg) bottom center;
  background-size: cover;
}


body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.section {
  padding-left: 90px;
  padding-top: 60px;
  font-size: 40px;
  color: rgb(0, 0, 0);
  font-family: 'Roboto Mono', monospace;
  line-height: 0.2;
}

.section p {
  font-size: 12px;
  line-height: 1.5;
}
.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid rgb(84, 34, 104);
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(85, 23, 49, 0.4);
  text-shadow: 0 0 .5rem rgb(73, 17, 50);
}

.playing {
  transform: scale(1.1);
  border-color: #ff0077;
  box-shadow: 0 0 1rem #ff397b;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ff702e;
}
